:root {
  --iris: #4d5ae5;
  --cloud: #F4F4FD;
  --navy: #2E2F42;
  --cornflower: #E7E9FC;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  background-color: #FFFFFF;
}

.logo{
  height: 21px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.logo span {
  color: var(--iris);
}

.logo.footer{
  color: var(--cloud);
}

.logo.header {
  color: var(--navy);
}

header {
  background-color: var(--cornflower);
}

footer {
  background-color: var(--navy);
  color: var(--cloud);
}

.section-1 {
  background-color: var(--navy);
  text-align: center;
  color: #FFFFFF;
}

.section-1 [type="button"] {
  font: Roboto;
  font-weight: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4d5ae5;
  color: #ffffff; }

h1 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

h2 {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  letter-spacing: 2%;
}

h3 {
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  letter-spacing: 2%;
}
